Elaborate a bit on.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
assets/
assets/reassortment_database.fasta
assets/nextclade_references
assets/sequence_references
assets/nextclade_datasets

