config {
    testsDir = "."
    workDir = System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile = "tests/nextflow.config"
    profile = "docker"

    ignore = [
        "modules/nf-core/**/tests/*",
        "subworkflows/nf-core/**/tests/*",
    ]

    requires (
        "nf-test": "0.9.5"
    )
}
