/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on the NIPH server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
    nextflow run RasmusKoRiis/nf-core-fluseq -profile server --input <SAMPLESHEET> --outdir <OUTDIR>

    Each parameter can be overridden on the command line

----------------------------------------------------------------------------------------
*/

// Set directory for intermediate files
workDir = '/mnt/tempdata/work'
